<span class="border">
  <h1>今日の練習</h1>
  <h2>残り：
  <%= link_to "#{@quizcards_today.count if @quizcards_today} 題", '#' %>
  </h2>
  <p class="center">
    <%= render 'temp_box' if @quizcards_today && @quizcards_today.any? %>
  </p>

</span>
<span class="border">
<h1>1日の学習時間</h1>
  <h2>
  <%= link_to "実績●●分／　目標●●分", '#' %>
  </h2>
</span>
<span class="border">
  <h1>解答時間</h1>
  <h2>●●秒</h2>
</span>
<span class="border">
  <h1>登録目安</h1>
  <h2>●日に1度　事前登録</h2>
</span>
<p class="center">
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</p>
