<span class="border">
  <h1>FLASH CARDS</h1>
  <p class="center">
    単語帳のように、答えを隠して意味だけを見て、単語を当てていきます。
    ログインせずにサンプルの問題を試すことができます。
    ログインすると自分の好きな単語を新しく追加できます。
    （現在は試運転のため、データが消えることがあります。）
  </p>
</span>
<span class="border">
  <h1>ヒント</h1>
  <p class="center">
    練習問題にはヒントがあります。
    ヒントは「頭文字_単語の文字数_」です。
    （colourという単語なら、ヒントは「c_6_」と出てきます。）
  </p>
</span>
<span class="border">
<h1>1日の練習時間</h1>
<p class="center">
  練習時間を測定して、目標時間と実際に練習した時間を比べられます。
</p>
</span>
<span class="border">
  <h1>新しく追加する目安</h1>
  <p class="center">
    目標の練習時間と測定した時間から、どのくらいの頻度で新しい単語を追加すればいいのか分かります。
  </p>
</span>
<p class="center">
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" if !logged_in?%>
</p>
