<% provide(:title, "レッスン") %>

<ul class="nav nav-tabs nav-justified" role="tablist">
  <li role="presentation">
    <a aria-controls="home_page" data-toggle="tab" href="#home_page" role="tab">ホーム</a>
  </li>
  <li role="presentation">
    <a aria-controls="list_up" data-toggle="tab" href="#list_up" role="tab">一覧</a>
  </li>
  <li role="presentation">
    <a aria-controls="register" data-toggle="tab" href="#register" role="tab">登録</a>
  </li>
</ul>

<div class="tab-content">
  <div id="home_page" class="tab-pane active" role="tabpanel">
    <%= render 'home_page/home_page' %>
  </div>
  <div id="list_up" class="tab-pane" role="tabpanel">
    <h1>list</h1>
  </div>
  <div id="register" class="tab-pane" role="tabpanel">
    <h1>register</h1>
  </div>
</div>
