<h1>＜Flashcards｜ユーザー登録＞</h1>

<p><%= @user.name %>　様</p>

<p>
次のリンクよりユーザー登録を完了させてください
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
