<h1>パスワード再発行</h1>

<p>次のリンクより再発行手続きに進んでください:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>（発行より２時間で期限切れとなります）</p>

<p>
再発行しない場合、従来のパスワードが有効です
</p>
