%button#modal-open-btn この商品を削除する
= link_to "", welcome_path(@item), method: :DELETE, id: 'item-delete-btn'
#overlay
  #modalWindow
    .modal-message-box
      %div 確認
      %div 本当に削除しますか？
    %button#modal-close-btn キャンセル
    %button#delete-comformation-btn 削除する