<footer class="footer">
  <small>
    The <a href="#">FLASHCARDS</a>
    by <a href="https://twitter.com/imoyat">kasai441</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Login",   '#' %></li>
      <li><%= link_to "Home",   root_path %></li>
    </ul>
  </nav>
</footer>