<header class="navbar">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "FLASH CARDS", root_path, id: "logo" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "新しく追加", register_path, id: "register" if logged_in?%></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "すべての単語", allcard_path, id: "allcard" if logged_in?%></li>
      </ul>
    </nav>
  </div>
</header>
